<custom-style>
  <style>
    .character.list-item > label{
      font-size: 2em;
    }
    .character.list-item > a{
      margin-left: 20px;
    }
    .character-image {
      width: 800px;
      height: 800px;
      object-fit: cover;
    }
    @media only screen and (max-width: 600px) {
      .character-image {
        width: 97%;
        margin: 10px;
      }
    }

  </style>
</custom-style>